@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,700|Roboto+Slab&display=swap');

*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}
body{
    margin: 0;
   font-family: 'Raleway', sans-serif;
   text-align: center;
}

img{
    max-width: 100%;
    height: auto;
    
}

.container{
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

.clearfix::after,
 section::after,
 footer::after{
  content: '';
  display: block;
  clear: both;
}

/* column system
==================== */
[class^=col-]{
    width: 100%;
    margin-top: 1em;
}
[class^=col-] :first-child{
    margin-top: 0;
}

.col-1{
    width: 33.333334%;
    float:left;
}

@media(min-width: 40rem){
    [class^=col-]{
        float: left;
        padding: 0 .5em;
       
    }
    [class^=col-] :first-child{
        padding-left: 0;
    }
    [class^=col-] :last-child{
        padding-right: 0;
    }
.col-3{
    width: 50%;
}

.col-1{
    width: 16.6666%;
}
}


/* typgraphy
=========== */
h1{
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0;
}
p{
    margin-top: 0;
    line-height: 1.5;
}
p:last-of-type{
    margin-bottom: 0;
}
.title{
     font-size: 2.5rem;
     margin-bottom: 1.5em ;
     font-weight: 900;
     margin-top: 1em;
}

.unstyled-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.title span{
    font-weight: 300;
    display: block;
    font-size: .9em;
}
.title-cta{
    margin: 0 0 .5em;
}

@media(min-width: 60rem){
    p{
        font-size: 1.2rem;
        line-height: 1.6;
    }
   .title{
       font-size: 3.7rem;
   }
}

/*buttons */
.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

.button-small{
    font-size: .6rem;
}
.button-accent{
    color:  rgb(207, 161, 161);
    border-color: rgb(207, 161, 161);
}

.button-accent:hover,
.button-accent:focus{
    background:  rgb(207, 161, 161);
    color: #232323;
    
}

.button-dark{
    color:  #232323;
    border-color:#232323;
}

.button-dark:hover,
.button-dark:focus{
    background:  #232323;
    color: #CFA1A1;
    
}
 @media (min-width:60rem){
     .button{
     font-size: 1.15rem;
 }
}

/*header ##################3 */

header{
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em 1em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: black;
    
}

nav a:hover,
nav a:focus{
    color:DDD;
}
@media(min-width: 60rem){
    .logo{
        float: left;
        padding-left: 4rem;

    }
    
    nav{
        float: right;
    }
 }
 @media(max-width: 60rem){
     .nav{
         background-color: rgb(207, 161, 161,0.5);
     }

 }
/*home-hero
 ========== */

 .home-hero{
     background-image:linear-gradient(135deg, rgba(172, 172, 172, 0.3) 0%, rgba(204, 201, 219, 0.2)100%), url(../img/banner-mobile.jpg);
     background-size: cover;
     background-position: center;
     padding: 10em 0;
     color: rgb(207, 161, 161);
    text-align: left;
 }

 .home-hero .container{
     margin-left: 1rem ;

 }

 .home-hero .container .button{
     margin-left:7rem;
 }
 @media(min-width: 60rem){
     .home-hero{
     height: 110vh;
     padding-top: 40vh ;
     
     }
 }
 /* hero-home
 ====================== */

 .home-about-textbox{
     background-color: #232323;
     padding: 4em;
     width: 100vw;
     margin-left: -2.5%;
     outline: 2px solid #CFA1A1;
     outline-offset: -2.5em;
     color: #ffffff;
     position: relative;
 }

 .home-about-textbox h1{
     color: #CFA1A1;
     position: absolute;
     top: .75em;
     left:50%;
     transform: translateX(-50%);
     background: #232323;
     padding: 0 .25em;
 }
 @media(min-width: 25rem){
     h1{
         font-size: 2rem;
     }
     .home-about-textbox{
         top: .6em;
     }
 }
 @media(min-width: 60rem){
    h1{
        font-size: 1.7rem;
        
    }
    .home-about{
        background-image: url(../img/ngo-dog3.jpg);
        background-repeat: no-repeat;
        padding-bottom: 10em;
    }
    .home-about-textbox{
       
        width: 50%;
        padding: 5em;
        outline-offset: -1.9em;
        margin-left: -2.5%;
        top: -7em;
        left: -4em;
        text-align: left;
        box-shadow: 0 0 1em 0 rgb(0,0,0, .5);
    }
    .home-about-textbox h1{
        top: .4em;
        left: 2.25em;
        transform: translateX(0);
    }
}


/* --------------- Blog Carousel ------------ */

main .blog{
    margin-top: 3rem;
   height: 100vh;
    width: 100%;
}

main .blog h1{
    color: #CFA1A1;
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
}
main  .section-heading{
   text-align: center;

}
main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: #CFA1A1;
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}


/* -------x------- Blog Carousel -----x------ */
/* portfolio 
=============== */
.portfolio{
    margin: 3em 0 0;
}
.port-head{
    color: #CFA1A1;
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
    
    
}

.port-item{
    margin: 0;
    position: relative;
}
.port-item img{
    display: block;
}

.port-desc{
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: white;
    background: rgb(0,0,0, .6);
    padding-bottom: 1.3em;
    padding-top: 1em;
    padding-left: .3em;
    padding-right: .3em;;

}

.port-desc p{
    margin: 0;
}
@media(min-width: 37rem){
    .port-item{
        width: 50%;
        float: left;
        overflow: hidden;
    }
}
@media(min-width: 60rem){
    .port-item{
        width: 33.333334%;
    }
    .port-desc{
        transform: translateY(250%);
    }

    .port-item:hover .port-desc{
        transform: translateY(0%);
    }
}

/* cta 
============== */
.cta{
    background-color: #CFA1A1;
    padding: 6em 0;
}

/* footer
============== */
footer{
    background: #232323;
    color: #ffffff;
    text-align: left;
    padding: 5em 0;
}